.search-filter {
    background: $white;
    border-radius: 4px;
    border:1px solid #e0e7ea;
    height: 190px;
    padding: 20px;
    h4 {
        font-family: $base-font;
        font-weight: bold;
        color: $black;
        font-size: 12px;
    }
    p {
        font-family: $base-font;
        font-weight: normal;
        color: #5b6569;
        font-size: 12px;
    }
}