header {
    background: $white;
    padding-top: 15px;
    padding-bottom: 10px;
    clear: both;
    border-bottom: 1px solid #e6eaec;
    .content {
        padding-left: 32px;
        padding-right: 32px;
        position: relative;
     
      .logo {
          padding-right: 90px;
          margin-top: 5px;
          width: 20% !important;
          float: left !important;
          margin-right: 50px;
          @include media-breakpoint-only(xs) {
              margin: auto;
          }
          @media (min-width: 576px) and (max-width: 645px) {
            margin: auto !important;
          }
          @media (min-width: 435px) and (max-width: 545px) {
            
          }
          @media (min-width: 545px) and (max-width: 645px) {
            
          }
        }
        
        .search-box {
            width: 425px;
            float: left;
            padding-right: 25px;
           input {
               padding-top: 8px;
               padding-bottom: 8px;
               border: 1px solid #e7eef1;
               outline: none !important;
               color: #646e7a;
               font-family: $font;
               font-weight: normal;
               font-size: 14px;
           }
            button {
                height: 100%;
                background: #f1f5f6;
                border: 1px solid #e7eef1;
                border-left: 0px solid;
                padding-left: 35px;
                padding-right: 35px;
                border-top-right-radius: 3px;
                position: relative;
                cursor: pointer;
                i {
                    position: absolute;
                    top: 10px;
                    right: 28px;
                    color: #6e7d86;
                    font-size: 18px;
                }
            }
            @include media-breakpoint-only(xs) {
                width: 100%;
                margin-bottom: 10px;
                margin-top: 20px;
                padding-right: 0px !important;
                
            }
            @media (min-width: 576px) and (max-width: 767px) {
                width: 100%;
                margin-top: 20px;
                margin-bottom: 10px;
                padding-right: 0px !important;                
            }
            @media (min-width: 768px) and (max-width: 991px) {
                float: right;
                margin-left: 0px;
                padding-right: 0px !important;
                
            }
            @media (min-width: 991px) and (max-width: 1200px) {
                width: 300px;
            }
        }
        .browser-more {
            font-family: $font;
            font-size: 14px;
            font-weight: normal;
            margin-top: 14px;
            float: left;            
            margin-right: 30px;
            a {
                position: relative;
                color: #66757f;
                margin-top: 20px;
                &:hover {
                    text-decoration: none;
                }
            }    
            i {
                position: absolute;
                right: -25px;
                top: 2px;
                font-size: 15px;
            }
            @include media-breakpoint-only(xs) {
                float: left !important;
                margin-right: 0px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                margin-top: 40px;
            }
        }
        .info-icons {
            float: left;
            margin-top: 10px;
            margin-right: 25px;
            padding-right: 3px;
            ul {
                display: flex;
                li {
                    list-style:none;
                    padding-left: 30px;
                    i {
                        color: #b8c2c6;
                        font-size: 20px;
                    }
                    @include media-breakpoint-only(xs) {
                        
                    }
                    @media (min-width: 576px) and (max-width: 645px) {

                    }
                }
            }
            @include media-breakpoint-only(sm) {
                margin-right: 20px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                margin-top: 30px;
            }
        }
        .user-area {
            img {
              
                border-radius: 50%;
                border: 1px solid #dbe0e3;      
                padding-top: 8px;
                padding-left: 9px;
                padding-right: 9px;
                padding-bottom: 1px;
                @include media-breakpoint-only(xs) {
                    float: right;   
                }
                @media (min-width: 576px) and (max-width: 767px) {
                    float: right;
                }
                @media (min-width: 768px) and (max-width: 991px) {
                    float: right;
                    margin-top: 20px;
                }
                @media (min-width: 991px) and (max-width: 1200px) {
                    float: right;
                }
            } 
            
        }
        @include media-breakpoint-only(xs) {
            padding-left: 0;
            padding: 0;
        }
        @media (min-width: 576px) and (max-width: 767px) {
            padding: 0px !important;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            padding: 0px !important;
        }
        @media (min-width: 991px) and (max-width: 1200px) {
            padding: 0px !important;
        }
    }
   
    @include media-breakpoint-down(sm) {
        padding-bottom: 140px;
    }
    @media (min-width: 576px) and (max-width: 767px) {
        padding-bottom: 170px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        padding-bottom: 120px;
    }
    @media (min-width: 991px) and (max-width: 1200px) {
        padding-bottom: 60px;
    }
    
}