.container {
    // @include make-container();
    .main-content {
        // @include make-row();
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .personal-info {
        background: $white;
        border-radius: 4px;
        border: 1px solid #e0e7ea;
        padding-top: 35px;
        padding-left: 0px !important;
        padding-right: 0px !important; 
        padding-bottom: 0px !important;
        // @include make-col-ready();
       
        //   @include make-col(3);
     
        .about-content {
            padding: 0 !important;
            margin: auto;
            .photo-part {
                margin: auto;
                justify-content: center;
                text-align: center !important;
                img {
                    position: relative;
                    border-radius: 50%;
                    padding-top: 30px;
                    padding-left: 40px;
                    padding-right: 40px;
                    padding-bottom: 0px;
                    border:1px solid $body;
                    margin: auto !important;
                    justify-content: center;
                    text-align: center;
                    @media (min-width: 768px) and (max-width: 999px) {
                        border: none !important; 
                    }
                }
                @include media-breakpoint-down(sm) {
                    
                }
                @media (min-width: 768px) and (max-width: 999px) { 
                    // width: 100px;
                    border: none !important;
                }
            }
            .text-part {
                margin-bottom: 30px;
                text-align: center;
                h3 {
                    font-family: $base-font;
                    font-weight: 500;
                    font-size: 18px;
                    color: #8db4e7;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 0px;
                    @media (min-width: 768px) and (max-width: 999px) { 
                        font-size: 15px;
                    }
                }
                span {
                    font-family: $base-font;
                    font-weight: 300;
                    font-size: 14px;
                    color: #8db4e7;
                    @media (min-width: 768px) and (max-width: 999px) { 
                        font-size: 12px;
                    }
                }

            }  
            .favorites {
                padding-left: 25px;
                padding-right: 25px;
                .first {
                    position: relative;
                    text-align: center;
                    float: left;
                    span {
                        font-family: $base-font;
                        font-weight: bold;
                        color: #8db4e7;
                        font-size: 18px;
                        
                    }
                    p {
                        text-align: left;
                        font-family: $base-font;
                        font-weight: normal;
                        color: #b3b3b3;
                        @media (min-width: 768px) and (max-width: 999px) { 
                            text-align: center !important;
                        }
                    }
                    @media (min-width: 768px) and (max-width: 999px) { 
                        float: none;
                        text-align: center !important;
                        margin: auto !important;
                        justify-content: center;
                    }
                }
                .first::after {
                    content: '';
                    position: absolute;
                    top: 10px;
                    right:-35px; 
                    height: 22px;
                    width: 1px;
                    background: #e8eff2;
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }
                .second {
                    float: right;
                    justify-content: center;
                    text-align: center;
                    span {
                        font-family: $base-font;
                        font-weight: bold;
                        color: #8db4e7;
                        font-size: 18px;
                    }
                    p {
                        text-align: left;
                        font-family: $base-font;
                        font-weight: normal;
                        color: #b3b3b3;
                        @media (min-width: 768px) and (max-width: 999px) { 
                            text-align: center !important;
                        }
                    }
                    @media (min-width: 768px) and (max-width: 999px) { 
                        float: none;
                    }
                }
            }
            .link-wraper {
                background: #fafbfb;
                padding-top: 0px !important;
                padding-bottom:0px !important;
                .links {
                   clear: right;
                   margin-top: 120px;
                   padding-left: 25px;
                   padding-top: 30px;
                   h4 {
                       padding-bottom: 30px;
                       a {
                           color: #8a9295;
                           font-family: $base-font;
                           font-weight: bold;
                           font-size: 14px;
                           margin-bottom: 40px;
                           &:hover {
                               text-decoration: none !important;
                               border-bottom: 2px solid #3f4c51;
                               color: #3f4c51;
                           }
                       }
                   }
                }
            }
        }
    }
}
