.more-info {
    background: $white;
    border-radius: 4px;
    border:1px solid #e0e7ea;
    position: relative;
    padding: 20px;
    .info-content {
        h5 {
            font-family: $base-font;
            font-size: 13px;
            color: $black;
            font-weight: bold;
        }
        p {
            font-family: $base-font;
            font-weight: normal;
            color: #5b6569;
            font-size: 12px;
        }
        .progress {
            display: flex;
            flex-direction: column;
            height: 10px;            
            .progress-bar {
                border-radius: 5px;
                height: 10px;
                background: #6aa5f2 !important;
            }
        }
        span {
            font-family: $base-font;
            color: #bfccd1;
            font-size: 12px;
            font-weight: normal;
            float: none;
            display: flex;
            flex-direction: column;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .add-photo {
            font-family: $base-font;
            font-weight: normal;
            color: #6faefc;
            font-size: 12px;
            margin-right: 5px;
            &:hover {
                text-decoration: none;
            }
        }
        .skip {
            font-family: $base-font;
            font-weight: normal;
            color: #6faefc;
            font-size: 12px;
            margin-right: 5px;
            &:hover {
                text-decoration: none;
            }
        }

    }
}