.people-you-may-know {
    background: $white;
    border-radius: 4px;
    border:1px solid #e0e7ea;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    h4 {
        font-family: $base-font;
        font-weight: normal;
        color: #3f4c51;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .content-wraper {
        margin-bottom: 20px;
        img {
            float: left;
            border-radius: 50px;
            width: 55px;
            height: 55px;
            margin-right: 12px;
            @media (min-width: 768px) and (max-width: 999px) { 
                float: none;
                margin-bottom: 10px;
                
            }
        }
        .text-part {
            h5 {
                font-family: $base-font;
                font-weight: bold;
                color: #333333;
                font-size: 12px;
                margin: 0 !important;
            }
            p {
                font-family: $base-font;
                font-weight: normal;
                color: #5b6569;
                font-size: 12px;
                margin-top: 5px;
                margin-bottom: 0 !important;
            }
            .follow {
                a {
                    font-family: $base-font;
                    font-weight: normal;
                    color: #9ba2a4;
                    font-size: 10.5px;
                    margin-right: 5px;
                    &:hover {
                        text-decoration: none;
                        color: #59a2fb
                    }
                }
            }
            .skip {
                a {
                    font-family: $base-font;
                    font-weight: normal;
                    color: #9ba2a4;
                    font-size: 10.5px;
                    &:hover {
                        text-decoration: none;
                        color: #59a2fb
                    }
                }
            }
            @media (min-width: 768px) and (max-width: 999px) { 
                margin-bottom: 10px;
            }
        }
        @media (min-width: 768px) and (max-width: 999px) { 
            margin: auto;
            text-align: center;
        }
    }
    .more-text {
        display: flex;
        margin-bottom: 0px;
        a {
            font-family: $base-font;
            font-weight: bold;
            color: #4d94f9;
            font-size: 12px;
            margin-right: 10px;
            &:hover {
                text-decoration: none;
            }
        }
        @media (min-width: 768px) and (max-width: 999px) { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
    @media (min-width: 768px) and (max-width: 999px) { 
       padding: 15px;
    }
}