.post-section {
    background: $white;
    border-radius: 4px;
    border:1px solid #e0e7ea;
    padding: 25px;
    margin-bottom: 30px;
    .head-part {
        margin-bottom: 20px;
        h2 {
            font-family: $base-font;
            font-weight: bold;
            color: $black;
            font-size: 19.5px;
        }
        span {
            font-family: $base-font;
            color: #abbdce;
            font-weight: normal;
            font-size: 11px;
        }
    } 
    .icon-holder {
        display: flex;
        justify-content: space-between;
        .icon {
            text-align: center;
            img {
                margin: auto;
                background: #f6f7f9;
                padding: 14px;
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                text-align: center;
                @media (min-width: 768px) and (max-width: 999px) { 
                    padding: 7px;   
                }
                @include media-breakpoint-down(xs) {
                    padding: 8px;
                }
            }
            a {
                color:#95a5b1;
                font-family: $base-font;
                font-weight: normal;
                font-size: 14px;
                text-align: center !important;
                &:hover {
                    text-decoration: none;
                }
                @media (min-width: 768px) and (max-width: 999px) { 
                    font-size: 12px;
                }
                @include media-breakpoint-down(xs) {
                    font-size: 12px;
                }
            }
        }
        @include media-breakpoint-down(xs) {
            display: flex;
        }
    }
    @media (min-width: 768px) and (max-width: 999px) { 
        padding: 15px;
    }
    @include media-breakpoint-down(xs) {
        padding: 9px;
        margin-top: 10px;
    }
}