.tabs-part {
    background: $white;
    border-radius: 4px;
    border:1px solid #e0e7ea;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    .keywoard {
        width: 140px;
        .key {
            background: #ebebeb;
            border-radius: 5px;
            width: auto !important;
            margin-top: 25px;
            margin-bottom: 5px;
            padding-top: 3px;
            padding-bottom: 8px;
            padding-left: 10px;
            padding-right: 10px;
            span {
                font-family: $base-font;
                font-weight: bold;
                color: #717172;
                font-size: 12px;
            }
            .finger {
                color: $black;
                font-family: $base-font;
                font-weight: bold;
                font-size: 12px;
                text-transform: lowercase;
               
                &:hover {
                    text-decoration: none;
                }
            }
            i {
                font-size: 10px;
                margin-right: 10px;
                margin-left: 0px;
                color: #8d8d8d;
            }
        }
    }
    .nav-tabs {  
        .nav-item {
            padding-bottom: 20px !important;
            padding-top: 10px;
            border: none;
            padding-left: 10px;
            margin: auto !important;
            position: relative;
        }
        .nav-link {
            font-family: $base-font;
            font-weight: bold;
            color:#6a6977;
            font-size: 12px;
            justify-content: center;
            text-align: center !important;
            padding-bottom: 15px;
        }
        .nav-link.active {
            &:after {
                content: '';
                position: absolute;
                left: 0px;
                bottom: -1px;
                height: 2px;
                width: 100%;
                background: #6aa5f2;
                // border-bottom: 2px solid #6aa5f2;
            }
            
        }
        @include media-breakpoint-down(md) {
            border: none;
        }
    }
}
.tabs-content {
    background: $white;
    border-radius: 4px;
    border:1px solid #e0e7ea;
    position: relative;
    padding: 20px;
    .head-part {
        margin-bottom: 35px;
        .left {
            position: relative;
            img {
                float: left;
                margin-right: 10px;
            }
            h4 {
                display: block; 
                font-family: $base-font;
                font-weight: bold;
                color: $black;
                font-size: 17px;
                margin-bottom: 0 !important;
                line-height: 1;
                
            }
            span {
                font-family: $base-font;
                color: #535353;
                font-weight: 100;
                font-size: 13px;
                line-height: 0;
                position: absolute;
                top: 25px;
            }
        }
        .right {
            float: right;
            padding-right: 10px;
            position: relative;
            a { 
                color: #a2a7ac;
                position: absolute;
                top: -15px;
                right: 10px;
                @media (min-width: 768px) and (max-width: 999px) { 
                    
                }
                i {
                    color: #a2a7ac;
                } 
            }
        }
    }
    .postition-details {
        margin-bottom: 50px;
        .left-part {
            float: left;
            h3 {
                a {                
                    font-family: $base-font;
                    font-weight: normal;
                    font-size: 19px;
                    color: #6aa5f2;
                    transition: 1s;
                    &:hover {
                        transition: 1s;
                        text-decoration: underline;
                    }
                    @media (min-width: 768px) and (max-width: 999px) { 
                        font-size: 15px;
                    }
                    @include media-breakpoint-down(xs) {
                        font-size: 15px;
                    }
                }
            }
            .location-p {
                font-family: $base-font;
                color: #a8a8a8;
                i {
                    margin-right: 8px;
                }
            }
            .payment-div {
                position: relative;
                margin-bottom: 20px;
                .payment {
                    font-family: $base-font;
                    font-weight: normal;
                    color:#414141;
                    font-size: 14px;
                    i {
                        margin-right: 8px;
                        color: $black;
                    }
                    span {
                        font-family: $base-font;
                        color: #80878e;
                        font-weight: normal;
                        font-size: 14px;        
                    }
                }
                .full-time {
                    position: absolute;
                    top: -5px;
                    left: 170px;
                    background: #67cb99;
                    color: $white;
                    font-family: $base-font;
                    font-weight: bold;
                    border-radius: 4px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 10px;
                    text-transform: uppercase;
                    @media (min-width: 768px) and (max-width: 999px) { 
                        width: 80px;
                        padding-left: 0px;
                        padding-right: 0px;
                        text-align: center;
                    }
                    @include media-breakpoint-down(xs) {
                        width: 80px;
                        padding-left: 0px;
                        padding-right: 0px;
                        text-align: center;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .save-share {
                display: flex;
                margin-top: 30px;
                .save {
                    margin-left: 0px;
                    margin-right: 30px;
                    a {
                        font-weight: bold;
                        color: #878a91;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    i {
                        margin-right: 10px;
                        color: #878a91;
                    }
                }
                .share {
                    margin-left: 0px;
                    margin-right: 30px;
                    a {
                        font-weight: bold;
                        color: #878a91;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    i {
                        margin-right: 10px;
                        color: #878a91;
                    }
                }
                @media (min-width: 768px) and (max-width: 999px) { 
                    margin-bottom: 30px;
                }
                @include media-breakpoint-down(xs) {
                    margin-bottom: 20px;
                }
            }
        }
        .right {
            position: relative;      
            clear: both !important;          
            .time {
              float: right;
              margin-top: 0px;
              position: absolute;
              top: -150px;
              right: 10px;
                @media (min-width: 768px) and (max-width: 999px) { 
                    position: absolute;
                    top: -185px;
                }
                @include media-breakpoint-down(xs) {
                    position: absolute;
                    top: -185px;
                }
            }
            .buttons {
                float: right;
                margin-top: -25px;
                padding-bottom: 20px;
                .apply {
                    border-radius: 5px;
                    background: #6aa5f2;
                    color: $white;
                    font-weight: bold;
                    font-size: 13px;
                    font-family: $base-font;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    padding-left: 25px;
                    padding-right: 25px;
                    border:2px solid #6aa5f2;
                    margin-right: 9px;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .view-more {
                    border-radius: 5px;
                    background:transparent;
                    color: $white;
                    font-weight: bold;
                    font-size: 13px;
                    font-family: $base-font;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    padding-left: 25px;
                    padding-right: 25px;
                    border: 2px solid #eaeaea;
                    color: #9ea6b1;
                    margin: 0 !important;
                    &:hover {
                        text-decoration: none;
                    }
                }
                @media (min-width: 768px) and (max-width: 999px) { 
                    float: none;
                    padding-bottom: 0px;
                }
                @include media-breakpoint-down(xs) {
                    float: none;
                    padding: 0px;
                }
            }
        }
        .footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            background: #f2f3f5;
           height: 40px;
           
            width: 100%;
        }
    }

}
.companies__details {
    background: $white;
    border-radius: 4px;
    border:1px solid #e0e7ea;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    h4 {
        font-family: $base-font;
        font-weight: normal;
        font-size: 15px;
        color: #9ca1a8;
        margin-bottom: 25px;
    }
    .compani {
        margin-bottom: 20px;
        .img-part {
            float: left;
            height: 40px;
            margin-right: 10px;
        }
        .text-part {
            h5 {
                font-family: $base-font;
                font-weight: bold;
                color: $black;
                font-size: 14px;
                margin-bottom: 0px;
            }
            p {
                font-family: $base-font;
                font-weight: normal;
                color: #404040;
                font-size: 14px;
            }
        }
    }
    .members {
        .img-part {
            img {
                float: left;
                height: 40px;
                margin-right: 10px;
                border-radius: 50%;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 5px;
                padding-bottom:5px;
            }
        }
        .text-part {
            h5 {
                font-family: $base-font;
                font-weight: bold;
                color: $black;
                font-size: 14px;
                margin-bottom: 0px;
            }
            span {
                font-family: $base-font;
                font-weight: normal;
                color: #404040;
                font-size: 14px;
            }
        }
    }
}

.comp_tabs {
    background: $white;
    border-radius: 4px;
    border:1px solid #e0e7ea;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    h2 {
        font-size: 14px;
        font-family: $base-font;
        font-weight: bold;
    }
}

.products {
    background: $white;
    border-radius: 4px;
    border:1px solid #e0e7ea;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    h2 {
        font-size: 14px;
        font-family: $base-font;
        font-weight: bold;
    }
}

.travels {
    background: $white;
    border-radius: 4px;
    border:1px solid #e0e7ea;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    h2 {
        font-size: 14px;
        font-family: $base-font;
        font-weight: bold;
    }
}

.selling {
    background: $white;
    border-radius: 4px;
    border:1px solid #e0e7ea;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    h2 {
        font-size: 14px;
        font-family: $base-font;
        font-weight: bold;
    }
}